<!DOCTYPE html>
<html>
  <head>
    <title>US midterm election 2016 - Datasets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="app" class="uk-container">
      <h1 class="uk-heading-primary">Datasets</h1>
      <ul class="uk-list">
        <li v-for="dataset in datasets">
          <span class="uk-margin-right">{{dataset}}</span>
          <button class="uk-button uk-button-default" v-on:click="saveToFile(dataset)">Dateien speichern</button>
        </li>
      </ul>
    </div>
    <script src="index.js"></script>
  </body>
</html>