<!DOCTYPE html>
<html>
  <head>
    <title>WELT Dataprovider</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="app" class="uk-container">
      {{currentDatasource}}
      {{datasources}}
      <h1 class="uk-heading-primary">WELT Dataprovider</h1>
      <table class="uk-table uk-table-small uk-table-striped uk-table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Datenquelle</th>
            <th>Asugabe</th>
            <th class="uk-child-width-auto"></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="center"><a href="#modal-new" :uk-icon="'icon: plus-circle'" uk-toggle v-on:click="currentDatasource = Object.assign({}, newDatasource);"></a></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>US midterm election 2018</td>
            <td>usMidtermElection2018</td>
            <td><a href="#modal-provider" :uk-icon="'icon: settings'" uk-toggle>AP </a></td>
            <td><a href="#modal-output" :uk-icon="'icon: settings'" uk-toggle>File </a></td>
            <td align="center"><a href="" :uk-icon="'icon: minus-circle'"></a></td>
          </tr>
          <tr v-for="datasource in datasources">
            <td>{{datasource.name}}</td>
            <td>{{datasource.id}}</td>
            <td><a href="#modal-provider" :uk-icon="'icon: settings'" uk-toggle>{{datasource.dataprovider}} </a></td>
            <td><a href="#modal-output" :uk-icon="'icon: settings'" uk-toggle>{{datasource.output}} </a></td>
            <td align="center"><a :uk-icon="'icon: minus-circle'" v-on:click="removeDatasource(datasource.id)"></a></td>
          </tr>
        </tbody>
      </table>

      <div id="modal-new" uk-modal>
        <div class="uk-modal-dialog">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <div class="uk-modal-header">
            <h2 class="uk-modal-title">Name & ID</h2>
          </div>
          <div class="uk-modal-body">
            <form>
              <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Name" v-model="currentDatasource.name">
              </div>

              <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="ID" v-model="currentDatasource.id">
              </div>
            </form>
          </div>
          <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Abbrechen</button>
            <a href="#modal-provider" class="uk-button uk-button-primary" uk-toggle>Weiter</a>
          </div>
        </div>
      </div>

      <div id="modal-provider" uk-modal>
        <div class="uk-modal-dialog">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <div class="uk-modal-header">
            <h2 class="uk-modal-title">Datenquelle</h2>
          </div>
          <div class="uk-modal-body">
            <form class="uk-form-stacked">
              <div class="uk-margin">
                <label class="uk-form-label">Datenanbieter</label>
                <div class="uk-form-controls">
                  <select class="uk-select" v-model="currentDatasource.dataprovider">
                    <option disabled value="">Bitte wählen</option>
                    <option>AP</option>
                  </select>
                </div>
              </div>

              <div v-if="currentDatasource.dataprovider === 'AP'">
                <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="API key" v-model="currentDatasource.apiKey">
                </div>

                <div class="uk-margin">
                  <label class="uk-form-label">Datensatz</label>
                  <div class="uk-form-controls">
                    <select class="uk-select" v-model="currentDatasource.dataset">
                      <option disabled value="">Bitte wählen</option>
                      <option>elections</option>
                      <option>reports</option>
                    </select>
                  </div>
                </div>

                <div class="uk-margin">
                  <label class="uk-form-label">API Version</label>
                  <div class="uk-form-controls">
                    <select class="uk-select" v-model="currentDatasource.apiVersion">
                      <option disabled value="">Bitte wählen</option>
                      <option>V1</option>
                      <option>V2</option>
                    </select>
                  </div>
                </div>

                <div class="uk-margin">
                  <label><input class="uk-checkbox" type="checkbox" v-model="currentDatasource.testing"> Test</label>
                </div>
              </div>
            </form>
          </div>
          <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Abbrechen</button>
            <a href="#modal-output" class="uk-button uk-button-primary" uk-toggle>Weiter</a>
          </div>
        </div>
      </div>

      <div id="modal-output" uk-modal>
        <div class="uk-modal-dialog">
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <div class="uk-modal-header">
            <h2 class="uk-modal-title">Headline 2</h2>
          </div>
          <div class="uk-modal-body">
            <form>
              <fieldset class="uk-fieldset">
                <legend class="uk-legend">Ausgabe</legend>

                <div class="uk-margin">
                  <select class="uk-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                  </select>
                </div>

              </fieldset>
            </form>
          </div>
          <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Abbrechen</button>
            <button class="uk-button uk-button-primary uk-modal-close" type="button" v-on:click="saveNewDatasource">Speichern</a>
          </div>
        </div>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>